.header {
  height: 100%;
  box-shadow: $shadow-1;
}

//AD----------------------------------------
.ad {
  height: 54px;
  width: 100%;
  background-image: url("../../public/images/ad.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; //that will center the background image for us
}
//TOP----------------------------------------
.top {
  background: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  &_container {
    //you can do it like that in saas so the & will take a parent name and append it at tthe front so top_container
    max-width: 95%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_list {
    display: flex;
    align-items: center;
    gap: 15px;
    li {
      position: relative; //to do divisive margins between each li
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: center;
      gap: 4px;
      color: #666;
      cursor: pointer;
      .flex {
        display: flex;
        align-items: center;
        gap: 2px;
        svg {
          transform: scale(1.2);
          margin-right: 3px;
        }
      }
      img {
        width: 28px;
        height: 28px;
        object-fit: cover;
        border-radius: 50%;
      }
      svg {
        width: 20px;
        height: 20px;
        fill: #ccc;
      }
      span {
        font-style: 12px;
      }
      &::after {
        //all of that is simply a right margin for each li really verbose...
        content: "";
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 20px;
        background: #ccc;
      }
      &:last-of-type {
        //and this one is to take this margin off the last li
        &::after {
          display: none;
        }
      }
      &:hover {
        span {
          color: #222; //that is for just changing the color of txt
        }
        svg {
          fill: #666;
        }
      }
      @media (max-width: 740px) {
        //select 2nd, 3rd, 4th item to hide
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
          display: none;
        }
      }
    }
  }
}

.menu {
  width: 280px;
  box-shadow: $shadow-1;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
  h4 {
    text-align: center;
  }
  .flex {
    display: flex;
    gap: 10px !important;
    width: 100%;
    padding: 0 1rem;
    border: red 1px solid;
  }
}

//helper--------------------------
