.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  grid-template-areas:
    "menu header header"
    "menu swiper user"
    "menu offers user";
  @media (max-width: 1335px) {
    grid-template-columns: 1fr 3fr;
  }
  @media (max-width: 990px) {
    grid-template-columns: 80px 3fr;
  }
  @media (max-width: 740px) {
    grid-template-areas:
      "menu"
      "swiper"
      "offers";
    grid-template-columns: 1fr;
  }
  .menu {
    grid-area: menu;
    height: 580px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    @media (max-width: 990px) {
      width: 80px;

      li {
        align-items: center;
      }
      svg {
        transform: scale(1.3);
      }
      .menu_firstLi {
        display: none;
      }
    }
    @media (max-width: 740px) {
      width: 100%;
      height: fit-content;
      display: grid;
      place-items: center;
      padding: 10px 0;
    }
    &_header {
      width: 100%;
      height: 35px;
      background: $gray-color;
      border-bottom: 1px solid $gray-color;
      box-shadow: $shadow-2;
      @media (max-width: 990px) {
        svg,
        b {
          display: none;
        }
      }
      svg {
        height: 23px;
        width: 23px;
      }
    }
    &_list {
      margin-top: 3px;
      @media (max-width: 740px) {
        display: flex; //to position in a row
      }

      li {
        justify-content: center;
      }
      @media (max-width: 740px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    ul {
      li {
        height: 32px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;

        &:hover {
          background: $gray-color;
        }

        a {
          padding: 0 20px;
          display: flex;
          align-items: center;

          gap: 5px;
          color: #424141;
          font-size: 13px;

          svg {
            height: 20px;
            width: 20px;
            fill: #8c8484;
            stroke: #8c8484;
          }
          span {
            @media (max-width: 990px) {
              display: none;
            }
          }
        }
      }
    }
  }
  .header {
    grid-area: header;
    height: 40px;
    display: flex;
    align-items: center;
    @media (max-width: 740px) {
      display: none;
    }
    ul {
      display: flex;
      gap: 1rem;
      align-items: center;
      li {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 19px;
        color: $blue-color;
      }
    }
  }
  .swiper {
    grid-area: swiper;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    min-width: 100%; //that sorted the problem of the width of the swiper
  }
  .offers {
    grid-area: offers;
    height: 220px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    overflow: hidden;
    background-image: url("/images/flash.webp");
    background-position: -285px -120px;
    background-size: cover;
    @media (max-width: 1100px) {
      background-position: -200px -110px;
    }
  }
  .user {
    min-width: 100%; //that sorted the problem of the width of the swiper again. The key is to apply it to the parent element that is directly under the grid container
    grid-area: user;
    height: 530px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    position: relative; //that will make sure the absolute position works as expected on the infos and links
    @media (max-width: 1335px) {
      display: none;
    }
    &_container {
      padding: 1rem;
    }
    &_infos {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: $shadow-1;
      }
      h4 {
        margin-top: 10px;
        text-transform: capitalize;
      }
      &_btns {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        button {
          width: 100px;
          height: 35px;
          border-radius: 10px;
          cursor: pointer;
          font-weight: 600;
          &:first-of-type {
            background: linear-gradient($blue-color, #0000ff34);
            color: #fff;
          }
          &:last-of-type {
            color: #555;
          }
        }
      }
    }
    &_links {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      li {
        width: 50px;
        height: 50px;
        background: $gray-color;
        border-radius: 50%;
        display: grid;
        place-items: center;
        transition: 0.2s;
        svg {
          width: 30px;
          height: 30px;
          stroke: $blue-color;
        }
        &:hover {
          background: $blue-color;
          svg {
            stroke: #fff;
          }
        }
        &:nth-of-type(3),
        &:nth-of-type(4) {
          svg {
            fill: $blue-color;
          }
          &:hover {
            background: $blue-color;
            svg {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}
