.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  grid-template-areas:
    "menu header header"
    "menu swiper user"
    "menu offers user";
  .menu {
    grid-area: menu;
    height: 580px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    &_header {
      width: 100%;
      height: 35px;
      background: $gray-color;
      border-bottom: 1px solid $gray-color;
      box-shadow: $shadow-2;
      svg {
        height: 23px;
        width: 23px;
      }
    }
    &_list {
      margin-top: 3px;
    }
    ul {
      li {
        height: 32px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        cursor: pointer;

        a {
          padding: 0 20px;
          display: flex;
          align-items: center;
          gap: 5px;
          color: #424141;
          font-size: 14px;
          svg {
            height: 20px;
            width: 20px;
            fill: #8c8484;
            stroke: #8c8484;
          }
          &:hover {
            background: $gray-color;
          }
        }
      }
    }
  }
  .header {
    grid-area: header;
    height: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
  }
  .swiper {
    grid-area: swiper;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    min-width: 100%; //that sorted the problem of the width of the swiper
  }
  .offers {
    grid-area: offers;
    height: 220px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    overflow: hidden;
    background-image: url("/images/flash.webp");
    background-position: -275px -120px;
    background-size: cover;
  }
  .user {
    grid-area: user;
    height: 530px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
  }
}
