// here is our scss file wiht custom variables that is going to be accessible in our all other files wihtout the manual import statements. To do that we have to change the config settings for next.js with sassOptions

$blue-color: #2f82ff;
$yellow-color: #fac80f;
$violet-color: #5a31f4;
$reddish-color: #f15f6f;
$gray-color: #f8f8f8;
$light-error-color: #fd010169;
$error-color: #ed4337;
$success-color: #6cc070;
$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-2: rgba(99, 99, 99, 0.1) 0px 0px 4px 0px;

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1rem;
}
.btn_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: $blue-color;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.btn_outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: $blue-color;
  background: $gray-color;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.error {
  font-size: 14px;
  color: $error-color;
  max-width: 450px;
  padding: 10px;
}
.success {
  font-size: 14px;
  color: $success-color;
  max-width: 450px;
  padding: 10px;
}

//------------------------SWIPERS------------------------//

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: grid;
    }
  }
}
.mainSwiper,
.offers_swiper {
  min-width: 100%;
  height: 100%;
  border-radius: 10px !important;

  .swiper-slide img {
    height: 300px !important;
    border-radius: 10px !important;
    box-shadow: $shadow-1;
  }
  .swiper-pagination-bullet {
    width: 9px !important;
    border-radius: 5px !important;
  }
  .swiper-pagination-bullet-active {
    background: #fff !important;
    width: 13px !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff !important;
    transform: scale(0.5) !important;
    font-weight: bold;
    width: 50px !important;
    height: 80px !important;
    transition: 0.2s;
    background: #66666682 !important;
    display: none;
  }
  .swiper-button-prev {
    left: -13px;
  }
  .swiper-button-next {
    right: -13px;
  }
}
.offers_swiper_container {
  max-width: 550px;
  transform: translateX(67%);
}
.offers_swiper {
  .swiper-pagination {
    display: none;
  }
  .swiper {
    width: 100%;
    height: 100% !important;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px !important;
    border-radius: 10px !important;
    height: 100% !important;
    margin-top: 40px !important;

    box-shadow: $shadow-1;
    &:hover {
      transform: scale(1.05);
      transition: 0.2s;
    }
    span {
      position: absolute;
      color: #fff;
      &:first-of-type {
        bottom: 10px;
        height: 25px;
        width: 90px;
        border-radius: 50px;
        font-size: 16px;
        font-weight: 600;
        background: $yellow-color;
      }
      &:last-of-type {
        font-style: italic;
        top: -5px;
        right: -5px;
        background-color: $reddish-color;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 16px;
        font-weight: 600;
        box-shadow: $shadow-1;
      }
    }
  }

  .swiper-slide img {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }
  .swiper-button-prev {
    top: 50%;
  }
  .swiper-button-next {
    top: 50%;
  }
}

.userMenu_swiper {
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: grid;
    }
  }
  .swiper-button-next {
    display: none;
    color: #fff;
    transform: scale(0.5) !important;
    font-weight: bold;
    width: 50px !important;
    height: 80px !important;
    right: -13px;
    transition: 0.2s;
    background: #66666682 !important;
  }
  .swiper-button-prev {
    display: none;
    color: #fff;
    transform: scale(0.5) !important;
    font-weight: bold;
    width: 50px !important;
    height: 80px !important;
    left: -13px;
    transition: 0.2s;
    background: #66666682 !important;
  }
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
