* {
  margin: 0;
  box-sizing: border-box;
  //here we are going to use &:: to copy the parent selector so here * and then give it a property / styling. Normally you would wright the whole selector *::after {property}
&::before,
&::after{
  box-sizing: border-box;
}

}

section {
  width: 300px ;
  height: 200px;
}

.block1 {
  background: red;
  

}
.block2 {
  background: blue;
  border: black 10px solid;
  padding: 10px;
}